<div class="change-password">
  <button class="btn btn-secondary hide" (click)="openPopup(content)" id="showChangePassword"></button>
  <ng-template ngbModalContainer></ng-template>
  <ng-template #content let-c="close" let-d="dismiss">
      <form (ngSubmit)="change_pasword()">
    <div class="modal-header">
      <h6 class="modal-title text-uppercase">Đổi mật khẩu</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="cbs_update_status_customer">
          <div class="row">
            <div class="col-md-12">
              <fpassworduser [model]="changePassModel" [labelValue]="'Mật khẩu hiện tại'" [attribute]="'oldPassword'"></fpassworduser>
              <fpassworduser [model]="changePassModel" [labelValue]="'Mật khẩu mới'" [attribute]="'newPassword'"></fpassworduser>
              <fpassworduser [model]="changePassModel" [labelValue]="'Nhập lại mật khẩu mới'" [attribute]="'confirmPassword'"></fpassworduser>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <div class="cbs_btn_action">
            <button type="button" class="btn_secondary" (click)="c('Close click')">Hủy</button>
            <button type="submit" class="cbs_btn btn_primary">Đổi</button>
          </div>
    </div>
  </form>
  </ng-template>
</div>