<div id="wrapper">
	<section class="box_login">
		<div class="box_login_content">
			<div class="logo">
				<img src="assets/image/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="title_forgost">
				<span class="">Quên mật khẩu</span>
				<p>Vui lòng điền email của bạn vào ô Email*. Chúng tôi sẽ gửi mật khẩu mới vào email của bạn.</p>
			</div>
			<div class="login_form">
				<form  (ngSubmit)="forgotpassword()" #loginForm="ngForm" onsubmit="return false;">
					<ftext [model]="forgotpassword_service" [labelValue]="email_label"[options]="{class:'login_form_group_fogost'}" [attribute]="'email'"></ftext>
					<div class="login_form_group text_right mgt25">
						<button class="btn btn_primary">Gửi email </button>
						<button type="button" (click)="back_link()" class="btn btn_secondary mgl10">Quay lại trang đăng nhập </button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<footer></footer>
</div>
<messageclose [this_parent]="this" [attribute]="'message_close'"></messageclose>
<ngx-loading [show]="loading"></ngx-loading>