<div class="customer-list-popup" id="customer-list-popup" [hidden]="!role(action_read)">
    <div class="div-filter-backdrop {{filter_active ? 'active' : '' }}" (click)="filter_active=false;"></div>
    <div class="div-filter-top cbs_btn_action title div-admin-table">
        <span class="style-text-big">{{admin_table ? admin_table.name : ''}}</span>
        <div class="filter-primary" *ngIf="admin_table_load">
            <div class="cbt_att {{filter_change_update ? 'filter_change_update' : ''}} {{model_filter_user.default ? 'filter_default' : ''}}">
                <span *ngIf="filter_change_update" class="star">*</span>
                <selectupdate [(ngModel)]="filter_user_id" [data]="list_filter_user" (valueChanged)="change_filter_user($event)" [options]="filterUserOptions"></selectupdate>
            </div>
            <div class="cbt_save" id="{{id_filter_expan}}">
                <a class="field_save" href="javascript:void(0);" (click)="filter_save(filter_change_update ? 'save' : 'create')">{{filter_change_update ? 'Lưu' : 'Lưu mới'}}</a>
                <a class="field_expan" *ngIf="filter_change_update" href="javascript:void(0);" (click)="filter_expan()">
                    <i class="icon icon-dow_seting"></i>
                </a>
                <span *ngIf="filter_expan_flag && filter_change_update"></span>
                <ul *ngIf="filter_expan_flag && filter_change_update">
                    <li>
                        <a href="javascript:void(0);" class="save_new" (click)="filter_save(!filter_change_update ? 'save' : 'create')">{{!filter_change_update ? 'Lưu' : 'Lưu mới'}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="save_cancel" (click)="filter_save('cancel')">Hủy thay đổi</a>
                    </li>
                </ul>
            </div>
            <div class="cbt_save" id="{{id_filter_more_expan}}">
                <a (click)="filter_more_expan()">
                    <i class="icon icon-more"></i>
                </a>
                <span *ngIf="filter_more_expan_flag"></span>
                <ul *ngIf="filter_more_expan_flag">
                    <li>
                        <a href="javascript:void(0);" class="save_rename" (click)="filter_save('rename')">Đặt lại tên</a>
                    </li>
                    <li class="{{model_filter_user.default ? 'disabled' : ''}}">
                        <a href="javascript:void(0);" class="save_default" (click)="filter_save('default')">Đặt làm mặc định</a>
                    </li>
                    <li class="{{model_filter_user.default ? 'disabled' : ''}}">
                        <a href="javascript:void(0);" class="save_delete" (click)="filter_save('delete')">Xóa</a>
                    </li>
                </ul>
            </div>
        </div>
        <button (click)="addTableColumn()" [hidden]="!role('admin_table_column_create')" class="cbs_btn2 btn_addstff btn_add_table_column">
            <i class="icon icon-plus"></i>Thêm admin table column
        </button>
    </div>


    <div class="div-filter-secondary clearfix {{isMobile ? 'mobileMode':''}} {{isOpen ? '':'hiden'}}" *ngIf="data_load_success && model_filter_user">
        <div class="div-filter-item">
            <div class="div_filter_field" *ngFor="let filter_field of model_filter_user.list_filter_user_field">
                <filterfield [set_filter_field]="filter_field" [set_model]="model_service" (valueChanged)="filterHandle($event)"></filterfield>
            </div>
        </div>
        <div class="div-filter-action" *ngIf="data_column_filter && data_column_filter.length">
            <multiselect [(ngModel)]="value_column_filter" [set_show_button]="true" [set_show_check_all]="false" [set_label_const]="'Thêm tiêu chí'"
                [set_disable_checked_true]="true" [class_a]="'cbs_addfilter'" [icons]="['icon icon-filter']" (valueChanged)="addFilterUserField($event.event)"
                [data]="data_column_filter"></multiselect>
        </div>
    </div>
    <div class="ftable-container">
        <div class="actionbar_table">
            <div class="total_customer">
                Hiện có {{count}} bản ghi
                <a href="javascript:void(0);" (click)="reload()">
                    <i class="icon icon-reload"></i>
                </a>
                <div class="filter_action_mobile" (click)="isOpen = !isOpen">
                    <a class="">
                        <i class="icon icon-filter"></i>
                    </a>
                </div>
            </div>
            <div class="actionbar_control">
                <div class="select_assign_top" *ngIf="show_list_staff_assign">
                    <selectupdate *ngIf="listStaffToAssign && listStaffToAssign.length" [data]="listStaffToAssign" [placeholder]="'Phân bổ nhanh'"
                        (valueChanged)="assignMulti($event)" [(ngModel)]="assignStaff" [disabled]="listAssign && listAssign.length > 0 ? false :  true"></selectupdate>
                    <span *ngIf="!listStaffToAssign || !listStaffToAssign.length">không có người xử lý</span>
                </div>
                <div class="export_control clearfix" *ngFor="let item_action_list of action_list">
                    <a class="cbs_btn2 pull-right active export_excel" href="javascript:void(0);" (click)="run_func_action_list(item_action_list);">
                        <i class="icon {{item_action_list.class_icon}}"></i>
                        {{item_action_list.name}}
                    </a>
                </div>
                <!-- <div [hidden]="!role(action_edit)" class="export_control clearfix">
                    <a class="cbs_btn2 pull-right active export_excel" href="javascript:void(0);" (click)="table.showPopupExport();">
                        <i class="icon icon-export-pdf"></i>
                        Export
                    </a>
                </div>
                <div [hidden]="!role(action_edit)" class="export_control clearfix">
                    <a class="cbs_btn2 pull-right active export_excel" href="javascript:void(0);" (click)="table.showPopupImport();">
                        <i class="icon icon-export-pdf"></i>
                        Import
                    </a>
                </div> -->
                <div class="setting_table">
                    <multiselect [(ngModel)]="value_column_display" [class_a]="" [set_label_const]="'Tùy chỉnh'" [set_show_tooltip]="true" [set_show_label]="false"
                        [icons]="['icon icon-settings4', 'icon icon-dow_seting']" (valueChanged)="updateSettingColumns($event.event)"
                        [set_show_check_all]="false" [data]="data_column_display"></multiselect>
                </div>
                <div [hidden]="!role(action_edit)" *ngIf="isShowDeleteAll && admin_table && admin_table.table_name == 'tbl_approve' && admin_table.item_update" style="width: 95px">
                    <button (click)="approveAll()" [hidden]="!role(action_edit)" class="cbs_btn2 btn_addstff">
                        <i class="icon icon-pencil"></i>Approve
                    </button>
                </div>
                <div [hidden]="!role(action_edit)" *ngIf="isShowDeleteAll && admin_table && admin_table.table_name != 'tbl_approve' && admin_table.item_update" style="width: 130px">
                    <button (click)="editAll()" [hidden]="!role(action_edit)" class="cbs_btn2 btn_addstff">
                        <i class="icon icon-pencil"></i>Sửa đồng loạt
                    </button>
                </div>
                <div [hidden]="!role(action_delete)" *ngIf="isShowDeleteAll && admin_table && admin_table.item_delete" style="width: 106px">
                    <button (click)="deleteAll()" class="cbs_btn2 btn_addstff">
                        <i class="icon icon-recycle-bin"></i>Xóa tất cả
                    </button>
                </div>
                <button (click)="addForm()" [hidden]="!role(action_create)" *ngIf="admin_table && admin_table.item_add && admin_form && admin_table.show_form_is_popup"
                    class="cbs_btn2 btn_addstff">
                    <i class="icon icon-plus"></i>{{admin_from_create_name}}
                </button>
                <a [routerLink]="[link_create]" [hidden]="!role(action_create)" *ngIf="admin_table && admin_table.item_add && admin_form && !admin_table.show_form_is_popup"
                    class="cbs_btn2 btn_addstff">
                    <i class="icon icon-plus"></i>{{admin_from_create_name}}
                </a>
            </div>
        </div>

        <ftable [role]="action_read" *ngIf="admin_table && model_service && admin_table_load" [set_admin_table]="admin_table" [dbclick_row]="admin_table.dbclick_row"
            [showChecked]="admin_table.columncheck" [showSTT]="admin_table.columnstt" [model]="model_service" [tparent]="this"
            [action]="action" [columns]="columns" [disable_row_by_attribute]="disable_row_attribute" [attribute_value]="disable_row_value"
            [disable_items]="disable_items" (listAssignChoosen)="listAssign = $event || [] " (multiAssignDone)="listAssign = null; assignStaff = null;"
            (sortDone)="sortDone($event)" (orderDone)="orderDone($event)" (is_show_delete_all)="is_show_delete_all($event)"
            (getDataTableDone)="settingValue($event)" (admin_table_column_update_click)="admin_table_column_update_click($event)"
            (table_load_true)="table_load_true()" #table></ftable>
    </div>
    <button type="button" class="hide" data-toggle="modal" data-target="#myModal" id="showModal"></button>
    <div id="datetime-picker-cover" class="datetime-picker-cover hide"></div>
</div>
<simple-notifications [options]="notifications_options"></simple-notifications>
<filterusername #filterusername></filterusername>

<popup-form [model]="model_service_add" [model_admin_form]="admin_form" (confirmDone)="reloadTableAdd($event)" #obj_popup_form></popup-form>
<popup-form [model]="model_service_add" [model_admin_form_update_all]="admin_form" (confirmDone)="reloadTableAdd($event)" #obj_popup_form_update_all></popup-form>
<popup-form [model]="admin_table_column" [model_admin_form]="admin_form_table_column" (confirmDone)="admin_table_column_save_done($event)"
    #obj_popup_form_admin_table_column></popup-form>
<messageconfirm [this_parent]="this" #obj_message_confirm></messageconfirm>
<popupsort [model]="model_service" [this_parent]="this" #obj_popup_sort></popupsort>
<messageclose [this_parent]="this" #obj_message_close></messageclose>
<loading *ngIf="loading"></loading>