<div id="wrapper">
	<section class="box_login">
		<div class="box_login_content">
			<div class="logo">
				<img src="assets/image/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="login_form">
				<form  (ngSubmit)="resetpassword()" #loginForm="ngForm" onsubmit="return false;">
					<fpassword [model]="resetpassword_service" [labelValue]="password_label" [options]="{class:'login_form_group_passagain'}" [attribute]="'password'"></fpassword>
					<fpassword [model]="resetpassword_service" [labelValue]="password_label" [options]="{class:'login_form_group_passagain'}" [attribute]="'confirm_password'"></fpassword>
					<div class="login_form_group">
						<button class="btn btn_primary float_right_dt">Xác nhận</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<footer></footer>
</div>
<simple-notifications [options]="notifications_options"></simple-notifications>
<ngx-loading [show]="loading"></ngx-loading>