
@-webkit-keyframes slide-show {
    0% { opacity: 0; display: block;}   
  100% { opacity: 1; display: block;}
}
@-moz-keyframes slide-show {
    0% { opacity: 0; display: block;}   
  100% { opacity: 1; display: block;}
}

.show{
    -webkit-animation: slide-show .5s ease-in-out;
    -moz-animation: slide-show .5s ease-in-out;
    -ms-animation: slide-show .5s ease-in-out;
    -o-animation: slide-show .5s ease-in-out;
    animation: slide-show .5s ease-in-out;
}
.toggle-list{
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    cursor: pointer;
}

